/*
 * CSS Styles for Application
 *
 */

.formSuccess, .formError {
  display: none;
}

body .loggedIn {
	display: none;
}

body.loggedIn .loggedIn {
	display: block;
}

body.loggedIn .loggedOut {
  display: none;
}